nav {
    background-color: #444;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
    transition: 0.3s; 
}

nav a:hover {
    background-color: #ff9800; 
    color: #000;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
.details-row {
    background-color: #fff9f0;
}

.details-content {
    text-align: right;
    padding: 10px;
}



form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px 0;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#continueBtn {
    background-color: #ff9800;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}


.details-wrapper {
    display: flex;            
    justify-content: space-between; 
    align-items: flex-start;  
    direction: rtl;            
    padding: 15px;
}


.details-text {
    flex: 1;
    text-align: right;
}

.meal-img {
    margin-left: 20px; 
}

.meal-img img {
    width: 160px;         
    height: 140px;        
    object-fit: cover;     
    border-radius: 10px;
    border: 1px solid #ddd;
    display: block;       
}

.details-text ul {
    padding-right: 20px;
    margin-top: 10px;
    list-style-type: disc;
}
